@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('./assets/fonts/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('./assets/fonts/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
