@font-face {
    font-family: 'DovemayoGothic';
    src: url('./src/assets/fonts/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    @apply font-dovemayo;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
